<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
<style>
.outer {
  border: 2px solid pink;
  border-radius: 1em;
  background: url(img/shadowback.jpg) no-repeat ;
  background-size:100% 100%;
  font-size: 20pt;
  width: 12em;
  height: 7em;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
.name {
  font-size: 45pt;
  font-weight: normal;
  margin-top: 0.8em;
  padding-top: 0.2em;
}
</style>
<div class="outer">
  <div class="name">
    <p>aa</p>
  </div>
  re'em
</div>
<div>
<p>aaa</p>
</div>
</body>
</html>